---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { CV } from "@consts";

const collection = await getCollection("cv");
---

<PageLayout title={CV.TITLE} description={CV.DESCRIPTION}>
    <Container>
        <div class="space-y-8">
            {
                collection.map((section) => (
                    <section class="animate">
                        <h2 class="font-semibold text-black dark:text-white mb-4">
                            {section.data.title}
                        </h2>
                        {section.data.entries && (
                            <div class="font-serif text-sm">
                                {section.data.entries.map((entry) => {
                                    if (
                                        section.data.type ===
                                        "grants-and-awards"
                                    ) {
                                        return (
                                            <div class="grid grid-cols-[auto_1fr_auto] gap-8 mb-4">
                                                <div>{entry.year}</div>
                                                <div>{entry.content}</div>
                                                {entry.amount && (
                                                    <div>{entry.amount}</div>
                                                )}
                                            </div>
                                        );
                                    } else {
                                        return (
                                            <div class="grid grid-cols-[auto_1fr] gap-8 mb-4">
                                                <div>{entry.year}</div>
                                                <div>
                                                    <div>{entry.content}</div>
                                                    {entry.description && (
                                                        <div class="mt-1 text-sm opacity-75">
                                                            {entry.description}
                                                        </div>
                                                    )}
                                                </div>
                                            </div>
                                        );
                                    }
                                })}
                            </div>
                        )}
                        {section.data.content && (
                            <div class="font-serif text-sm">
                                {section.data.content}
                            </div>
                        )}
                    </section>
                ))
            }
        </div>
    </Container>
</PageLayout>
---
